{%extends 'base/base.html'%}
{%load static%}
  {%block meta%}
    <!-- HTML Defaults Broweser -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Bootstrap Stylesheet and Jquery, Google APIS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
    <!-- Online Calculator Guru Site Fevicon -->
    <link rel="shortcut icon" href="https://onlinecalculator.guru/static/images/logo/Online-Calculator-Guru-Fevicon.png" type="icon">
    <!-- Online Calculator Guru Project Style Sheet -->
    {%block css%}
    <link rel="stylesheet" href="/static/style.css">
    {%endblock%}
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <!-- Meta Title, Description and Canonical URL Starts --->
    <title>Bag-of-marble-Probability | Free Online Tool to calculate Probability of an Event</title>
    <meta name="description" content="Make use of our handy Bag-of-marble-Probability and compute the dependent and independent events of the probability effortlessly in split seconds. "/>
    <link rel="canonical" href="{{request.build_absolute_uri}}">
    <!-- Meta Title, Description and Canonical URL ENDS --->

    <!-- OPEN GRAPH CONFIGURATIONS STARTS -->
	<!--  FACEBOOK CONFIGURATION STARTS  -->
        <meta content="https://www.facebook.com/OnlineCalculator-Guru-131572098650589/" property="og:url" />
        <meta property="og:title" content="Bag-of-marble-Probability | Free Online Tool to calculate Probability of an Event"/>
        <meta property="og:description" content="Make use of our handy Bag-of-marble-Probability and compute the dependent and independent events of the probability effortlessly in split seconds. "/>
        <meta content="" property="og:site_name" />
        <meta  content="https://onlinecalculator.guru/static/images/Discrete_Mathematics/probability-Calculator.jpeg" property="og:image" />
        <meta property="og:image:type" content="image/png" />
        <meta property="og:image:height" content="435" />
        <meta property="og:image:width" content="354" />
        <!--  FACEBOOK CONFIGURATION ENDS  -->
        <!-- TWITTER CARD CONFIGURATION STARTS  -->
        <meta name="twitter:card" content="summary"/>
        <meta name="twitter:site" content="https://twitter.com/onlinecalculator"/>
        <meta name="twitter:title" content="Bag-of-marble-Probability | Free Online Tool to calculate Probability of an Event"/>
        <meta name="twitter:description" content="Make use of our handy Bag-of-marble-Probability and compute the dependent and independent events of the probability effortlessly in split seconds. "/>
        <meta name="twitter:image:src" content="https://onlinecalculator.guru/static/images/Discrete_Mathematics/probability-Calculator.jpeg"/>
        <meta property="twitter:image:height" content="435"/>
        <meta property="twitter:image:width" content="354"/>
        <!-- TWITTER CARD CONFIGURATION ENDS  -->
        <!--  LINKEDIN CONFIGURATION STARTS-->
        <meta property='og:title' content="Bag-of-marble-Probability | Free Online Tool to calculate Probability of an Event"/>
        <meta property='og:image' content="https://onlinecalculator.guru/static/images/Discrete_Mathematics/probability-Calculator.jpeg"/>
        <meta property='og:description' content="Make use of our handy Bag-of-marble-Probability and compute the dependent and independent events of the probability effortlessly in split seconds. "/>
        <meta property='og:url' content="https://www.linkedin.com/in/onlinecalculator/" />
        <!-- end of linkedin CONFIGURATIONS ENDS -->
    <!-- OPEN GRAPH CONFIGURATION ENDS -->
    <!-- FAQ SCHEMA STARTS -->
    <script type="application/ld+json">{"@context": "https://schema.org","@type": "FAQPage","mainEntity": [{"@type": "Question","name":"1.
        How do you calculate the probability?
        ","acceptedAnswer": {"@type": "Answer","text":"By dividing the number of events that occurred by the number of possible outcomes gives us the probability of a single event happening."}	}, {"@type": "Question","name":"2.
        What are the formulas of single event probability?
        ","acceptedAnswer": {"@type": "Answer","text":"The single event probability formulas are as follows:

        Probability of event A that occurs P(A) = n(A) / n(S).
        Probability of event A that does not occur P(A') = 1 - P(A)."}	}, {"@type": "Question","name":"3.
        What are the formulas of multiple event probability?
        ","acceptedAnswer": {"@type": "Answer","text":"The following list will help you learn the multiple event probability formulas:

       1. P(A) = n(A) / n(S),
       2. P(A') = 1 - P(A),
       3. P(B) = n(B) / n(S),
       4. P(B') = 1 - P(B),
       5. The probability that both the events occur P(A ∩ B) = P(A) x P(B).
       6. Probability that either of event occurs P(A ∪ B) = P(A) + P(B) - P(A ∩ B).
       7. Conditional Probability P(A | B) = P(A ∩ B) / P(B)."}	}, {"@type": "Question","name":"4.
        How to find the probability of two events?
        ","acceptedAnswer": {"@type": "Answer","text":"Simply by multiplying the probability first event with the second event, you can calculate the probability of two events. For instance, if the probability of event A is 8/2 and the probability of event B is 4/2 then the probability of two events occurring at the same time is (8/2)*(4/2) = 4 * 2 = 8."}	}]}
    </script>
    {%endblock%}
    {%block content%}
    <div class="container">
        <div class="card c1">
            <div class="card-header">
                <h1 class="h1">Bag-of-marble-Probability</h1>
            </div>
            <div class="card-body">
                <p><strong>Bag-of-marble-Probability</strong> helps you to compute the probability of one event occurring on the basis of probabilities of other events occurring. It takes favorable outcomes and total outcomes as inputs and displays the required output in seconds by clicking on the calculate button.</p>
<!---------------      Error messages ---------->
            {% if messages %}
                <ul class="messages">
                    {% for message in messages %}
                    <p {% if message.tags %} id="message_container" class="alert alert-danger text-center" {% endif %}
                       style="color:red">{{ message }}</p>
                    {% endfor %}
                </ul>
            {% endif %}

<!---------------    Form ------->
<form action="" method="POST" ">
    {% csrf_token %}
    <div class="form-row align-items-center">
    <div class="col-auto">
        <div class="input-group mb-2">
            <div class="input-group-prepend">
                <div class="input-group-text"><strong>Number of Entries</strong></div>
            </div>
            <input type="number"  oninput="addInputs(this);a()" oninput="validateNumber(this);" id="inlineFormInputGroup" placeholder="Type a number" 
                class="form-control" required="" min=1 max=5 name="nu" value={{nu}} >
            <input type="hidden" name="entries">
        </div>
        <div>
            <table >
                <thead>
                    <tr><th>Color</th><th>Number of Occurence</th></tr>
                </thead>
                <tbody>
                    <tr><td><div id="result"></div></td><td><div id="result2"></div></td></tr>
                </tbody>     
            </table>   
        </div>
        <select name="s" id="s" required="">
            <option selected disabled> Please select </option>
        </select>
        <div class=" center col mt-2 ">
            <center><button type="submit" class="btn btn-primary" name="f1">Calculate</button>
                <button type="button" onclick="myFunction()"  style="margin-top:5px;" onclick="addInputs(0)"
                class="btn btn-danger">Reset</button>
            </center>
        </div>  
    </div>
</form>
<!---------------- End Form-->

  
</div>
</div>
    </div>
    {% if id == 1 %}
<script>
    $(document).ready(function () {

        $("#hassle").click();
        });
</script>

<button type="button" hidden id="hassle" onclick="location.href='#Bag-of-marble-Probability'">ans1</button>
{% endif %}
{% if id == 1 %}
<div id="clear">
    <div class="card" id="Bag-of-marble-Probability">
        <div class="card-header">
            <h2 class="h2">Steps to Calculate Risk</h2>
        </div>
        <div class="card-body">
            <strong>Probability Formula-</strong>
            <br>
            <p class="btn btn-outline-secondary active">(P(A))=fav outcomes/total outcomes</p>
            <br>
            
            <strong>Input values are:-</strong>
            <table>
                <tr><th>Color</th><th>Number of Occurence</th></tr>
                {% for key,value in di.items %}
                    
                    <tr>
                        <td> {{ key }} </td>
                    
                  
                        <td> {{ value }} </td>
                    </tr>
                   
                {% endfor %}
                </table>
            <strong>Put values into formula</strong>
            <p>Probability that {{con}} (P(A))=fav outcomes/total outcomes</p>
            <p>P(A)={{fav}}/{{total}}</p>
            <p>P(A)={{prob}}</p>
            
            
            
            
            
        </div>
    </div>
            </div>
{% endif %}
    <div class="card">
	    <div class="card-header">
            <h2 class="h2">What is Meant by Probability in Maths?</h2>
        </div>
	    <div class="card-body">
            <p>In mathematics, the probability is a field of statistics that is utilized to explain the likelihood of an event that is going to occur. A number that always lies between 0 and 1 is probability. When the probability value is equivalent to 1, then something will occur. If not, then something will never occur.</p>
<p>For instance, the probability of flipping a coin and its being tail is &frac12;, because there is 1 way of getting a tail and the total number of possible outcomes is 2 (head or tail).</p>
<h4>Types of Events That Influence Probability</h4>
<p>There are three types of events that impact the probability outcome. They are:</p>
<ul>
<li>Independent</li>
<li>Dependent</li>
<li>Mutually exclusive</li>
</ul>
<h4>Basic Probability Formulas</h4>
<p>The probability formula is the ratio of the number of ways an event can appear across the total number of possible outcomes. Thus, the formula can be written as</p>
<p><strong><em>Probability of an event occurring = Number of ways an event can occur / Total number of possible outcomes.</em></strong></p>
<p>A standard formula for the probability of an event to occur:<strong> P(A) = n(A) / n(S)</strong></p>
<p>where,</p>
<ul>
<li>P(A) is the probability of an event happening</li>
<li>n(A) is the number of ways an event can happen</li>
<li>n(S) is the total number of possible outcomes</li>
</ul>
<p>A standard formula for the probability of an event that will not occur: <strong>P(A') = 1 - P(A)</strong></p>
<p>where,</p>
<ul>
<li>P(A') is the probability of an event cannot occur</li>
<li>P(A) is the probability of an event occurring</li>
</ul>
<img src="https://drive.google.com/file/d/1YCob4zfiE6ShrrehnQVhcckRUa1qJjWk/view?usp=sharing" alt="Probability Formula Sheet">
</div>
    </div>
    <div class="card">
	    <div class="card-header">
            <h2 class="h2">How Do You Find The Probability Of An Event Manually?</h2>
        </div>
	    <div class="card-body">
            <p>Here is the simple procedure that helps you find the probability of an event manually with ease. Take a look at the below steps:</p>
            <ul>
            <li>Firstly, we have to identify the number of favorable outcomes.</li>
            <li>Next, find the total number of outcomes.</li>
            <li>Now, utilize the basic formula of the probability of an event (ie., the number of favorable outcomes divided by the total number of outcomes.)</li>
            <li>Substitute the values in the probability formula and get the result effortlessly.</li>
            </ul>
            <p>Get a good grip on all the concepts of probability by using <a href="https://probabilitycalculator.guru/">Probabilitycalculator.guru</a> provided online calculator tools.</p>
            <h4>Solved Example on Probability</h4>
            <p><strong>Question: </strong></p>
            <p>If we toss a coin once, what is the probability of getting tails? Prove it using the Bag-of-marble-Probability.</p>
            <p><strong>Solution: </strong></p>
            <p>Given favorable outcomes = 1</p>
            <p>Total number of possible outcomes = 2</p>
            <p>Probability of getting tails = 1/2 or 0.5</p>
            <p>Therefore, the probability of getting tails is <strong>0.5.</strong></p>            
<img src="{% static 'images/Discrete_Mathematics/Probability-Calculator.jpeg' %}" alt="Bag-of-marble-Probability">
</div>
    </div>

    <div class="card">
        <div class="card-header">
    <h3 class="h3">FAQs on Handy Tool of Bag-of-marble-Probability with Steps</h3>
  	    </div>
  	    <div class="card-body">
      	<!-- Question & Answer Starts --->
        <p class="question"><strong>1. How do you calculate the probability?</strong></p>
     	<p class="answer">By dividing the number of events that occurred by the number of possible outcomes gives us the probability of a single event happening.</p><hr>
     	<p class="question"><strong>2. What are the formulas of single event probability?</strong></p>
     	<p class="answer">The single event probability formulas are as follows:</p>
         <ul>
         <li>Probability of event A that occurs P(A) = n(A) / n(S).</li>
         <li>Probability of event A that does not occur P(A') = 1 - P(A).</li>
         </ul></p><hr>
        <p class="question"><strong>3. What are the formulas of multiple event probability?</strong></p>
        <p class="answer">The following list will help you learn the multiple event probability formulas:</p>
        <ul>
        <li>P(A) = n(A) / n(S).</li>
        <li>P(A') = 1 - P(A).</li>
        <li>P(B) = n(B) / n(S).</li>
        <li>P(B') = 1 - P(B).</li>
        <li>The probability that both the events occur P(A &cap; B) = P(A) x P(B).</li>
        <li>Probability that either of event occurs P(A &cup; B) = P(A) + P(B) - P(A &cap; B).</li>
        <li>Conditional Probability P(A | B) = P(A &cap; B) / P(B).</li>
        </ul></p><hr>
        <p class="question"><strong>4. How to find the probability of two events?</strong></p>
     	<p class="answer">Simply by multiplying the probability first event with the second event, you can calculate the probability of two events. For instance, if the probability of event A is 8/2 and the probability of event B is 4/2 then the probability of two events occurring at the same time is (8/2)*(4/2) = 4 * 2 = 8.</p><hr>
    </div>
    </div>
    </div>

{% if  flag %}
<script>
        $(document).ready(function () {
            $("#hassle").click();
        });
</script>
<button type="button" hidden id="hassle" onclick="location.href='#permutations'">ans1</button>
{% endif %}

<script>

    function a() {
          
          
        
            var v=parseInt(document.getElementsByName("nu")[0].value);
            $("#s").empty();
            $("#s").append('<option selected disabled> Please select </option>');
            
    
            for (var i=0; i<v; i++)
            {
                var n="r"+i.toString();
                $("#s").append('<option id="i '+i+ '">Only ' + document.getElementsByName(n)[0].value + ' </option>');
            }
            if (v==2)
            {
                $("#s").append('<option id="i '+v+1+ '">Both ' + document.getElementsByName("r0")[0].value +" and "+ document.getElementsByName("r1")[0].value +' </option>');
                
                
            }
            
            else if(v==3)
            {
                $("#s").append('<option id="i '+v+1+ '">Both ' + document.getElementsByName("r0")[0].value +" and "+ document.getElementsByName("r1")[0].value +' </option>');
                $("#s").append('<option id="i '+v+2+ '">Both ' + document.getElementsByName("r1")[0].value +" and "+ document.getElementsByName("r2")[0].value +' </option>');
                $("#s").append('<option id="i '+v+3+ '">Both ' + document.getElementsByName("r0")[0].value +" and "+ document.getElementsByName("r2")[0].value +' </option>');
                $("#s").append('<option id="i '+v+4+ '">All '+document.getElementsByName("r0")[0].value +", "+ document.getElementsByName("r1")[0].value +" and "+ document.getElementsByName("r2")[0].value +' </option>');
    
            }
            else if(v==4)
            {
                $("#s").append('<option id="i '+v+1+ '">Both ' + document.getElementsByName("r0")[0].value +" and "+ document.getElementsByName("r1")[0].value +' </option>');
                $("#s").append('<option id="i '+v+2+ '">Both ' + document.getElementsByName("r1")[0].value +" and "+ document.getElementsByName("r2")[0].value +' </option>');
                $("#s").append('<option id="i '+v+3+ '">Both ' + document.getElementsByName("r2")[0].value +" and "+ document.getElementsByName("r3")[0].value +' </option>');
                $("#s").append('<option id="i '+v+4+ '">Both ' + document.getElementsByName("r1")[0].value +" and "+ document.getElementsByName("r3")[0].value +' </option>');
                $("#s").append('<option id="i '+v+5+ '">' + document.getElementsByName("r1")[0].value +", "+ document.getElementsByName("r2")[0].value +" and "+document.getElementsByName("r3")[0].value+' </option>');
                $("#s").append('<option id="i '+v+6+ '">' + document.getElementsByName("r0")[0].value +", "+ document.getElementsByName("r2")[0].value +" and "+document.getElementsByName("r3")[0].value+' </option>');
    
                $("#s").append('<option id="i '+v+7+ '">All '+document.getElementsByName("r0")[0].value +", "+ document.getElementsByName("r1")[0].value +", "+ document.getElementsByName("r2")[0].value +" and "+ document.getElementsByName("r3")[0].value +' </option>');
    
            }
            else if(v==5)
            {
                $("#s").append('<option id="i '+v+1+ '">Both ' + document.getElementsByName("r0")[0].value +" and "+ document.getElementsByName("r1")[0].value +' </option>');
                $("#s").append('<option id="i '+v+2+ '">Both ' + document.getElementsByName("r1")[0].value +" and "+ document.getElementsByName("r2")[0].value +' </option>');
                $("#s").append('<option id="i '+v+3+ '">Both ' + document.getElementsByName("r2")[0].value +" and "+ document.getElementsByName("r3")[0].value +' </option>');
                $("#s").append('<option id="i '+v+4+ '">Both ' + document.getElementsByName("r1")[0].value +" and "+ document.getElementsByName("r3")[0].value +' </option>');
                $("#s").append('<option id="i '+v+5+ '">Both ' + document.getElementsByName("r3")[0].value +" and "+ document.getElementsByName("r4")[0].value +' </option>');
                $("#s").append('<option id="i '+v+6+ '">Both ' + document.getElementsByName("r2")[0].value +" and "+ document.getElementsByName("r4")[0].value +' </option>');
                $("#s").append('<option id="i '+v+7+ '">Both ' + document.getElementsByName("r1")[0].value +" and "+ document.getElementsByName("r4")[0].value +' </option>');
    
                $("#s").append('<option id="i '+v+8+ '">' + document.getElementsByName("r2")[0].value +", "+ document.getElementsByName("r3")[0].value +" and "+document.getElementsByName("r4")[0].value+' </option>');
                $("#s").append('<option id="i '+v+9+ '">' + document.getElementsByName("r1")[0].value +", "+ document.getElementsByName("r2")[0].value +" and "+document.getElementsByName("r4")[0].value+' </option>');
    
                $("#s").append('<option id="i '+v+10+ '">All '+document.getElementsByName("r0")[0].value +", "+ document.getElementsByName("r1")[0].value +", "+ document.getElementsByName("r2")[0].value +", "+ document.getElementsByName("r3")[0].value +" and "+document.getElementsByName("r4")[0].value +' </option>');
    
            }
          
        }
    
    
    function addInputs(elm) {
      var result = document.querySelector('#result');
      
      result.innerHTML = '';
     if (elm==0)
     {
        for (var i = 0; i < parseInt(0); i++) {
        var wrapper = document.createElement('div');
        
        wrapper.innerHTML = '<input type="text" style="width:100%" required="" min=1 placeholder="textfield ' + i + '" onchange="a();" name="r'+i+'" value={{"d'+i+'"}}>';
        result.appendChild(wrapper);
      }
     
      var result2 = document.querySelector('#result2');
      result2.innerHTML = '';
      for (var i = 0; i < parseInt(0); i++) {
        var wrapper = document.createElement('div');
        
        wrapper.innerHTML = '<input type="nuber" style="width:100%"  required="" step="any" placeholder="textfield ' + i + '" name="s'+i+' value={{"p'+i+'"}}>';
        result2.appendChild(wrapper);
      }
    
     }
    
      for (var i = 0; i < parseInt(elm.value); i++) {
        var wrapper = document.createElement('div');
        
        wrapper.innerHTML = '<input type="text" style="width:100%" required="" min=1 placeholder="textfield ' + i + '"onchange="a();" name="r'+i+'" value={{"d'+i+'"}}>';
        result.appendChild(wrapper);
      }
     
      var result2 = document.querySelector('#result2');
      result2.innerHTML = '';
      for (var i = 0; i < parseInt(elm.value); i++) {
        var wrapper = document.createElement('div');
        
        wrapper.innerHTML = '<input type="number" style="width:100%"  required="" step="any" placeholder="textfield ' + i + '"  name="s'+i+'" value={{"p'+i+'"}}>';
        result2.appendChild(wrapper);
      }
      document.getElementsByName("entries")[0].value=elm.value;
    }
        
    if(id==1)
    {
        var scrollDiv = document.getElementById("clear").offsetTop;
         window.scrollTo({ top: scrollDiv, behavior: 'smooth'});
         
    }
        
         function myFunction() {
             var a=document.getElementsByName("entries")[0].value;
             document.getElementsByName("nu")[0].value = 0;
             addInputs(0);
             var i=0;
             for (var i=0;i<a;i++)
             {
                
                document.getElementsByName("r"+i.toString())[0].value = "";
                document.getElementsByName("s"+i.toString())[0].value = "";
             }
             
             
             
     
             document.getElementById("clear").innerHTML = "";
     
         } 
    
         
         
        
    
    </script>  

{%endblock%}
