{%extends 'base/base.html'%}
{%load static%}
{%block meta%}
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
  <link rel="shortcut icon" href="{% static 'images/logo/Chemistry-Calc.png' %}" type="icon">
  {%block css%}
  <link rel="stylesheet" href="{% static 'style.css' %}">
  {%endblock%}
	<!-- Bootstrap CSS -->
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
	<!-- META DATA STARTS --->
  <title>Chebyshev's Theorem Calculator | Free Online Tool of Chebyshev's Theorem</title>
	<meta name="description" content="Chebyshev's Theorem Calculator helps to calculate the probability of an event being far from its expected value with detailed information.">
	<link rel="canonical" href="{{request.build_absolute_uri}}">
<!-- META DATA ENDS --->
 
<!-- OPEN GRAPH CONFIGURATIONS STARTS -->
	<!--  FACEBOOK CONFIGURATION STARTS  -->
	<meta content="https://www.facebook.com/OnlineCalculator-Guru-131572098650589/" property="og:url" />
	<meta property="og:title" content="Chebyshev's Theorem Calculator | Free Online Tool of Chebyshev's Theorem"/>
	<meta property="og:description" content="Chebyshev's Theorem Calculator helps to calculate the probability of an event being far from its expected value with detailed information."/>
	<meta content="" property="og:site_name" />
	<meta  content="http://probabilitycalculator.guru/static/images/Probability/Chebyshevs-Theorem-Calculator.jpeg" property="og:image" />
	<meta property="og:image:type" content="image/png" />
	<meta property="og:image:height" content="435" />
	<meta property="og:image:width" content="354" />
	<!--  FACEBOOK CONFIGURATION ENDS  -->
	<!-- TWITTER CARD CONFIGURATION STARTS  -->
	<meta name="twitter:card" content="summary"/>
	<meta name="twitter:site" content="https://twitter.com/onlinecalculator"/>
	<meta name="twitter:title" content="Chebyshev's Theorem Calculator | Free Online Tool of Chebyshev's Theorem"/>
	<meta name="twitter:description" content="Chebyshev's Theorem Calculator helps to calculate the probability of an event being far from its expected value with detailed information."/>
	<meta name="twitter:image:src" content="http://probabilitycalculator.guru/static/images/Probability/Chebyshevs-Theorem-Calculator.jpeg"/>
	<meta property="twitter:image:height" content="435"/>
	<meta property="twitter:image:width" content="354"/>
	<!-- TWITTER CARD CONFIGURATION ENDS  -->
	<!--  LINKEDIN CONFIGURATION STARTS-->
	<meta property='og:title' content="Chebyshev's Theorem Calculator | Free Online Tool of Chebyshev's Theorem"/>
	<meta property='og:image' content="http://probabilitycalculator.guru/static/images/Probability/Chebyshevs-Theorem-Calculator.jpeg"/>
	<meta property='og:description' content="Chebyshev's Theorem Calculator helps to calculate the probability of an event being far from its expected value with detailed information."/>
	<meta property='og:url' content="https://www.linkedin.com/in/onlinecalculator/" />
	<!-- end of linkedin CONFIGURATIONS ENDS -->
<!-- OPEN GRAPH CONFIGURATION ENDS -->
<!-- FAQ SCHEMA STARTS -->
{%endblock%}
{%block content%}
<script>
       $(document).ready(function(){
           {% if d %}

           str1="#"+"{{ f_unit }}";
           $(str1).attr("selected","selected");
           {% endif %}
        $(".btn-danger").on("click",function(){
          $(".form-control").attr("value","");
           $("#one").attr("selected","selected");
         });
        });
    </script>
<div class="container">
    <button type="button" hidden id="hassle"  onclick="location.href='#get-activation-energy'">ans</button>
	<div class="card c1">
  	<div class="card-header">
  <h1 class="h1">Chebyshev's Theorem Calculator</h1>
  </div>
  <div class="card-body">
      <p>Utilize this Chebyshev's Theorem Calculator will tell you how to use chebyshev's inequality inorder to acquire the probability of arbitrary distribution. For getting instant outcomes you need to give bound and variance as inputs and then tap the calculate button. </p>
      {% autoescape off %}
            {% if messages %}
                {% for message in messages %}
                        <div class="row">
                            <div class="col-md-6">
                                <p class="alert alert-danger">{{message}}</p>
                            </div>
                        </div>
                {% endfor %}
                {% endif %}
        {%endautoescape%}
      <form action="{% url 'cheb-theorem' %}" id="myForm" onsubmit="return validate()" method="post">
            {% csrf_token %}
            <div class="input-group mb-2 mt-3">

                <div class="input-group-text"><strong>Formula Variant</strong></div>
                    <select name="f_type" id="inlineFormInputGroup" class="form-control">
                         <option value="one" id="one">Formula 1</option>
                         <option value="two" id="two">Formula 2</option>
                     </select>
            </div>
            <div class="input-group mb-2 mt-3">
                  <div class="input-group-prepend">
                <div class="input-group-text"><strong>Bound(k)</strong></div>
                     <input type="text" pattern="-?\d*\.?\d*" id="inlineFormInputGroup" name="a" value="{{ a }}" oninput="validateNumber1(this);" placeholder="Enter the Number" class="form-control" required></div>

            </div>
                <div class="input-group mb-2 mt-3">
                  <div class="input-group-prepend">
                <div class="input-group-text in"><strong>Variance(σ²)</strong></div>
                     <input type="text" id="inlineFormInputGroup" placeholder="Enter the Number" value="{{ b }}" name="b" oninput="validateNumber(this);" class="form-control" required></div>

                 </div>
                <div class=" center col mt-2 ">
                <center><button type="submit" class="btn btn-primary"  class="form-control" >Calculate</button>
                <button type="button" onclick="this.form.reset()" style="margin-top:5px;" class="btn btn-danger" class="form-control">Reset</button>
                </center>
            </div>
          <div class="input-group mb-2 mt-3">
                  <div class="input-group-prepend">
                      <div class="input-group-text"><strong>Chance at most</strong></div>
                     <input type="text" disabled id="inlineFormInputGroup" value="{{ d }}" oninput="validateNumber(this);" class="form-control" required></div>
                <b id="inlineFormInputGroup" class="form-control">%</b>
                 </div>

        </form>
    </div>
    {% if answer %}
    <div class="card c1" id="get-activation-energy">
        <div class="card-header"><center class="h1">Detailed Answer</center></div>
        <div class="card-body container">
        {% for i,z in answer.items %}
        {% if 'bold' in i %}
        <p><b>{{ z }}</b></p>
        {% else %}
        <p>{{ z }}</p>
        {% endif %}
        {% endfor %}
        </div>
    </div>
    {% endif %}
</div>


<div class="card">
 <div class="card-header">
  <h2 class="h2">What is Chebyshev's Theorem</h2>
  </div>
  <div class="card-body">
      <p>Chebyshev's theorem evaluates that the minimum proportion of observations that decreases within a specified number of standard deviations from the mean. Chebyshev's Theorem is also known as Chebyshev's Inequality. This theorem appeals that a wide range of probability distributions. </p>
      <img src="https://drive.google.com/file/d/1vIbGIxXPAYwCN0lsO4B4t0upTAFbJnmj/view?usp=sharing" alt="Chebyshev's Theorem">
   </div>
</div>
<div class="card ">
 <div class="card-header">
  <h3 class="h3">Chebyshev's Theorem Formula</h3>
  </div>
  <div class="card-body">
      <p>Look at the formula which are given below about Chebyshev's Theorem.</p>
      <img src="https://drive.google.com/file/d/1VGq7J5jEU-od8pnl_efSj54O0t34MRoI/view?usp=sharing" alt="Chebyshev Theorem Formula">
      <p>Here,</p>
      <p>P = probability of an event.</p>
      <p>X = random variable.</p>
      <p>E(X) = expected value of our event</p>
      <p>σ² = variance of our event</p>
      <p>k = boundary of the result</p>
    </div>
</div>
</div>
<div class="container">
    <button type="button" hidden id="hassle"  onclick="location.href='#get-activation-energy'">ans</button>
<div class="card c1">
 <div class="card-header">
  <h3 class="h3">Chebyshev's Inequality Proof</h3>
  </div>
  <div class="card-body">
      <p><p>As per Chebyshev's Theorem the probability that an observation will be more than k standard deviations from the mean is almost 1/k². For Chebyshev's Theorem to be true, you need to follow only 2 conditions i.e. underlying distribution has a mean and the other is the average size of deviations away from the mean isn't infinite. To prove this inequality let us consider there exists a population of n values containing n<sub>1</sub> values of x<sub>1</sub> and n<sub>2</sub> values of x<sub>2</sub>.</p>
           <p>Let us assume the standard deviation of the population to be σ, μ is the mean, and k>1 is some positive real number. </p>
           <p> σ<sup>2</sup>=(∑(x<sub>i</sub>−μ)<sup>2</sup>⋅n<sub>i</sub>)/n</p>
           <p>Here the sum ranges over all distinct x<sub>i</sub>. Thus we get</p>
           <p>σ<sup>2</sup> <u>></u> ∑(x<sub>i</sub>−μ)<sup>2</sup>⋅n<sub>i</sub>/n</p>
           <p>Since the sum ranges only over that x<sub>i</sub> when (|x<sub>i</sub>−μ|≥kσ), we can express</p>
           <p>σ<sup>2</sup><u>></u> ∑k<sup>2</sup>σ<sup>2</sup>⋅n<sub>i</sub>}{n} = k<sup>2</sup>σ<sup>2</sup>⋅∑n<sub>i</sub>/n = k<sup>2</sup>σ<sup>2</sup>⋅P<sub>out</sub>,</p>
           <p>where P<sub>out</sub> is the proportion of the population outside k standard deviations of μ. Since we have</p>
           <p>P<sub>out</sub><u><</u> 1/k².</p>
           <p>We can apply inequality to any probability distribution in which both the mean and variance can be defined. Thus we have</p>
           <p>P<sub>r</sub>(|X-μ| <u>></u> kσ) <u><</u> 1/k².</p></p>
        </div>
    </div>
</div>
<div class="container">
    <button type="button" hidden id="hassle"  onclick="location.href='#get-activation-energy'">ans</button>
<div class="card c1">
 <div class="card-header">
  <h3 class="h3">How to Use Chebyshev's Theorem?</h3>
  </div>
  <div class="card-body">
      <p><b>Example</b></p>
      <p><b>Question: </b>The average range of a new bike is Rs.70000 with a standard deviation of Rs.3000. what is the minimum percentage of cars that should sell between Rs.22000 and Rs.80000?</p>
      <p><b>Solution</b></p>
      <p>Given, mean(μ) = 70000 , Standard deviation(σ) = 3000</p>
      <p>Here, 70000 + k(3000) = 80000</p>
      <p>k(3000) = 80000-70000</p>
      <p>k(3000) = 10000</p>
      <p>k= 10000/3000 = 3.33</p>
      <p>Formula, 1-1/K<sup>2</sup> = 1-(1/3.3<sup>2</sup>) = 1-(1/10.9) = 0.91</p>
      <p>Therefore, chances at most is 100% as E(X) i approximately 1.</p>
      <p><a href="http://probabilitycalculator.guru/">Probabilitycalculator.net</a> is the best website as we have various probability calculators available in this site. Use them and make your work easy.</p>
    </div>
    </div>
</div>
<div class="container">
    <button type="button" hidden id="hassle"  onclick="location.href='#get-activation-energy'">ans</button>
<div class="card c1">
 <div class="card-header">
  <h3 class="h3">FAQs on Chebyshev's Theorem Calculator</h3>
  </div>
  <div class="card-body">
      <!-- Question & Answer Starts --->
      <p class="question"><strong>1. What is Chebyshev's Theorem in probability?</strong></p>
      <p class="answer">Chebyshev's theorem evaluates that the minimum proportion of observations that decreases within a specified number of standard deviations from the mean. Chebyshev's Theorem is also known as Chebyshev's Inequality.</p><hr>
      <p class="question"><strong>2. How do you use chebyshev's theorem?</strong></p>
      <p class="answer">Chebyshev's Theorem says that for any k>1, there exists atleast 1-1/k² of data depending within k standard deviations of the mean. </p><hr>  
     <p class="question"><strong>3. What does K equal in chebyshev's Theorem?</strong></p>
      <p class="answer">In chebyshev's theorem, k value represents the number of standard deviations from the mean. </p>
    </div>
    </div>
    </div>


<script>
    var validNumber = new RegExp(/^\d*\.?\d*$/);
    var fist_input = document.getElementById("inlineFormInputGroup").value;
    function validateNumber(elem) {
      if (validNumber.test(elem.value)) {
        fist_input = elem.value;
      } else {
        elem.value = fist_input;
      }
    }
</script>



{%endblock%}