{%extends 'base/base.html'%}
{%load static%}
  {%block meta%}
    <!-- HTML Defaults Broweser -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Bootstrap Stylesheet and Jquery, Google APIS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
    <!-- Online Calculator Guru Site Fevicon -->
    <link rel="shortcut icon" href="https://onlinecalculator.guru/static/images/logo/Online-Calculator-Guru-Fevicon.png" type="icon">
    <!-- Online Calculator Guru Project Style Sheet -->
    {%block css%}
    <link rel="stylesheet" href="/static/style.css">
    {%endblock%}
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <!-- Meta Title, Description and Canonical URL Starts --->
    <title>Life Expectancy Probability Calculator Online with Steps.</title>
    <meta name="description" content="Life expectancy probability calculator is the best tool to calculate the life span of a men and women on average in split seconds."/>
    <link rel="canonical" href="{{request.build_absolute_uri}}">
    <!-- Meta Title, Description and Canonical URL ENDS --->

    <!-- OPEN GRAPH CONFIGURATIONS STARTS -->
	<!--  FACEBOOK CONFIGURATION STARTS  -->
        <meta content="https://www.facebook.com/OnlineCalculator-Guru-131572098650589/" property="og:url" />
        <meta property="og:title" content="Life Expectancy Probability Calculator Online with Steps."/>
        <meta property="og:description" content="Life expectancy probability calculator is the best tool to calculate the life span of a men and women on average in split seconds."/>
        <meta content="" property="og:site_name" />
        <meta  content="http://propabilitycalculator.guru/static/images/Probability/Life-Expectancy-Probability-Calculator.jpeg" property="og:image" />
        <meta property="og:image:type" content="image/png" />
        <meta property="og:image:height" content="435" />
        <meta property="og:image:width" content="354" />
        <!--  FACEBOOK CONFIGURATION ENDS  -->
        <!-- TWITTER CARD CONFIGURATION STARTS  -->
        <meta name="twitter:card" content="summary"/>
        <meta name="twitter:site" content="https://twitter.com/onlinecalculator"/>
        <meta name="twitter:title" content="Life Expectancy Probability Calculator Online with Steps."/>
        <meta name="twitter:description" content="Life expectancy probability calculator is the best tool to calculate the life span of a men and women on average in split seconds."/>
        <meta name="twitter:image:src" content="http://propabilitycalculator.guru/static/images/Probability/Life-Expectancy-Probability-Calculator.jpeg"/>
        <meta property="twitter:image:height" content="435"/>
        <meta property="twitter:image:width" content="354"/>
        <!-- TWITTER CARD CONFIGURATION ENDS  -->
        <!--  LINKEDIN CONFIGURATION STARTS-->
        <meta property='og:title' content="Life Expectancy Probability Calculator Online with Steps."/>
        <meta property='og:image' content="http://propabilitycalculator.guru/static/images/Probability/Life-Expectancy-Probability-Calculator.jpeg"/>
        <meta property='og:description' content="Life expectancy probability calculator is the best tool to calculate the life span of a men and women on average in split seconds."/>
        <meta property='og:url' content="https://www.linkedin.com/in/onlinecalculator/" />
        <!-- end of linkedin CONFIGURATIONS ENDS -->
    <!-- OPEN GRAPH CONFIGURATION ENDS -->
    <!-- FAQ SCHEMA STARTS -->
    <script type="application/ld+json">{"@context": "https://schema.org","@type": "FAQPage","mainEntity": [{"@type": "Question","name":"1 
        What is life expectancy in simple words?
        ","acceptedAnswer": {"@type": "Answer","text":" 
        Life expectancy is the life you are expected to live on average on this earth. That may be human beings or organisms or anything that you can calculate life span."}	}, {"@type": "Question","name":"2
        What is the best tool to calculate life expectancy?
        ","acceptedAnswer": {"@type": "Answer","text":" 
        Life Expectancy Probability Calculator is the best tool to calculate life span."}	}, {"@type": "Question","name":"3
        What is the best website to use the Life Expectancy Calculator?
        ","acceptedAnswer": {"@type": "Answer","text":" 
        Probabilitycalculator.guru is the best website for Life Expectancy Calculator."}	}]}</script>
    {%endblock%}
    {%block content%}
    <div class="container">
        <div class="card c1">
            <div class="card-header">
                <h1 class="h1">Life Expectancy Probability Calculator</h1>
            </div>
            <div class="card-body">
                <p>We have a tool that tells you about your life span on average is Life Expectancy Probability Calculator tool. To use this just give the required input values that were given in the input fields and click the calculate button, in no time you will see the life span.</p>


                <p><strong>Life Expectancy Probability Calculator: </strong>Interested to know how many years will you survive in this world? Then, why late we have brought a tool that calculates the remaining years in your life and you will know your lifespan. By giving some information to our tool it calculates your lifetime on average in a fraction of seconds. </p>
            </div>
        </div>
       
    <div class="card">
	    <div class="card-header">
            <h2 class="h2">What is Life Expectancy Probability?</h2>
        </div>
	    <div class="card-body">
            <p>Life expectancy itself tells you that how many years you are expected to live in this world. The probability of life expectancy can be calculated on average by taking your age, gender, and some information. We can calculate life expectancy for any organism and for human beings or for any living thing on this earth.</p>
            </div>
            </div>
            <div class="card">
                <div class="card-header">
                    <h3 class="h3">How to Use Life Expectancy Probability Calculator?</h3>
                </div>
                <div class="card-body">  
                    <p>Here, we will see some steps to calculate the life span probability using our calculator.</p>
                    <ul>
                        <li>First, fill in the inputs by giving the information for finding the expected life.</li>
                        <li> You will see birth, gender like these are inputs.</li>
                        <li>After that, click on the calculate button.</li>
                        <li> Then, you will find the answer in no time.</li>
                    </ul>
<p>Similar to this calculator we have many other probability calculators at <a href="http://probabilitycalculator.guru/">probabilitycalculator.guru</a>. Use it and know accurate results effortlessly.</p>
<img src="{% static 'images/Probability/Life-Expectancy-Probability-Calculator.jpeg' %}" alt="Life Expectancy Probability Calculator">
</div>
    </div>
    <div class="card">
        <div class="card-header">
    <h3 class="h3">FAQs on Probability of Life Expectancy Calculator</h3>
  	    </div>
  	    <div class="card-body">
      	<!-- Question & Answer Starts --->
        <p class="question"><strong>1. What is life expectancy in simple words?</strong></p>
     	<p class="answer">Life expectancy is the life you are expected to live on average on this earth. That may be human beings or organisms or anything that you can calculate life span.</p><hr>
     	<p class="question"><strong>2. What is the best tool to calculate life expectancy?</strong></p>
     	<p class="answer">Life Expectancy Probability Calculator is the best tool to calculate life span.</p><hr>
        <p class="question"><strong>3. What is the best website to use the Life Expectancy Calculator?</strong></p>
        <p class="answer"><a href="http://probabilitycalculator.guru/">Probabilitycalculator.guru</a> is the best website for Life Expectancy Calculator.</p>
       
    	</div>
    </div>
    </div>

{% if  flag %}
<script>
        $(document).ready(function () {
            $("#hassle").click();
        });
</script>
<button type="button" hidden id="hassle" onclick="location.href='#combinations'">ans1</button>
{% endif %}
{%endblock%}
