{%extends 'base/base.html'%}
{%load static%}
  {%block meta%}
    <!-- HTML Defaults Broweser -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Bootstrap Stylesheet and Jquery, Google APIS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
    <!-- Online Calculator Guru Site Fevicon -->
    <link rel="shortcut icon" href="https://onlinecalculator.guru/static/images/logo/Online-Calculator-Guru-Fevicon.png" type="icon">
    <!-- Online Calculator Guru Project Style Sheet -->
    {%block css%}
    <link rel="stylesheet" href="https://onlinecalculator.guru/static/style2.css">
    {%endblock%}
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <!-- Meta Title, Description and Canonical URL Starts --->
    <title>Probability of 3 Events Calculator | How do you find the Probability of Three Events? </title>
    <meta name="description" content="Probability of 3 Events Calculator can be used to find out the probabilities associated with three Events A, B, C in seconds."/>
    <link rel="canonical" href="{{request.build_absolute_uri}}">
    <!-- Meta Title, Description and Canonical URL ENDS --->
 
    <!-- OPEN GRAPH CONFIGURATIONS STARTS -->
	<!--  FACEBOOK CONFIGURATION STARTS  -->
        <meta content="https://www.facebook.com/OnlineCalculator-Guru-131572098650589/" property="og:url" />
        <meta property="og:title" content="Probability of 3 Events Calculator | How do you find the Probability of Three Events?"/>
        <meta property="og:description" content="Probability of 3 Events Calculator can be used to find out the probabilities associated with three Events A, B, C in seconds."/>
        <meta content="" property="og:site_name" />
        <meta  content="https://onlinecalculator.guru/static/images/Discrete_Mathematics/Probability-of-3-Events-Calculator.jpeg" property="og:image" />
        <meta property="og:image:type" content="image/png" />
        <meta property="og:image:height" content="435" />
        <meta property="og:image:width" content="354" />
        <!--  FACEBOOK CONFIGURATION ENDS  -->
        <!-- TWITTER CARD CONFIGURATION STARTS  -->
        <meta name="twitter:card" content="summary"/>
        <meta name="twitter:site" content="https://twitter.com/onlinecalculator"/>
        <meta name="twitter:title" content="Probability of 3 Events Calculator | How do you find the Probability of Three Events?"/>
        <meta name="twitter:description" content="Probability of 3 Events Calculator can be used to find out the probabilities associated with three Events A, B, C in seconds."/>
        <meta name="twitter:image:src" content="https://onlinecalculator.guru/static/images/Discrete_Mathematics/Probability-of-3-Events-Calculator.jpeg"/>
        <meta property="twitter:image:height" content="435"/>
        <meta property="twitter:image:width" content="354"/>
        <!-- TWITTER CARD CONFIGURATION ENDS  -->
        <!--  LINKEDIN CONFIGURATION STARTS-->
        <meta property='og:title' content="Probability of 3 Events Calculator | How do you find the Probability of Three Events?"/>
        <meta property='og:image' content="https://onlinecalculator.guru/static/images/Discrete_Mathematics/Probability-of-3-Events-Calculator.jpeg"/>
        <meta property='og:description' content="Probability of 3 Events Calculator can be used to find out the probabilities associated with three Events A, B, C in seconds."/>
        <meta property='og:url' content="https://www.linkedin.com/in/onlinecalculator/" />
        <!-- end of linkedin CONFIGURATIONS ENDS -->
    <!-- OPEN GRAPH CONFIGURATION ENDS -->
    <!-- FAQ SCHEMA STARTS -->
    <script type="application/ld+json">{"@context": "https://schema.org","@type": "FAQPage","mainEntity": [{"@type": "Question","name":"1. 
        What is the range of Probability?
        ","acceptedAnswer": {"@type": "Answer","text":" Probability ranges between 0 and 1."}	}, {"@type": "Question","name":"2. 
        How do you Calculate the Probability of 3 Events using a Calculator?
        ","acceptedAnswer": {"@type": "Answer","text":" Simply enter the Probabilities of all 3 Events in the allotted boxes and click on the calculate button to avail the Probability in a matter of seconds."}	}, {"@type": "Question","name":"3. 
        What is the Formula for Probability of Union of Three Events?
        ","acceptedAnswer": {"@type": "Answer","text":" The Formula for Probability of Union of Three Events is P(A ∪ B ∪ C) = P(A) + P(B) + P(C) - P(A ∩ B) - P(A ∩ C) - P(B ∩ C) + P(A ∩ B ∩ C)."}	}, {"@type": "Question","name":"4. 
        Where do I get Probability of Three Events Calculator for free?
        ","acceptedAnswer": {"@type": "Answer","text":" You can get Probability of Three Events Calculator for free on <a href = https://probabilitycalculator.guru/>probabilitycalculator.guru</a> a trusted and reliable portal."}	}]}</script>
    {%endblock%}
    {%block content%}
    <div class="container">
        <div class="card c1">
            <div class="card-header">
                <h1 class="h1">Probability of 3 Events Calculator</h1>
            </div>
            <div class="card-body">
                <p>Utilize the handy Probability of 3 Events Calculator to quickly find out the Probabilities of three events A, B, C in a matter of seconds. Simply provide the probabilities of all three events in the boxes below and then tap on the calculate button to avail the resultant probabilities in different cases in no time.</p>
                <p><strong>Probability of 3 Events Calculator: </strong> Wondering how to calculate the probabilities of three events in different scenarios? Then, you have landed on the right page where will get complete information on what are the rules for determining the probabilities of 3 events and their formulas, how to calculate probabilities of 3 independent events in this article.</p>
                <p> If you feel the concept is bit difficult you can rely on our straightforward tool Probability of 3 events calculator and make your job simple. All you have to do is provide the individual probabilities of three events and our tool does everything for you. Continue reading to find out worked out examples on calculating probabilities of three events showing the entire step by step process clearly for better understanding.   </p>
                {% autoescape off %}
                {% if messages %}
                    {% for message in messages %}
                            <div class="row">
                                <div class="col-md-6">
                                    <p class="alert alert-danger">{{message}}</p>
                                </div>
                            </div>
                    {% endfor %}
                    {% endif %}
            {%endautoescape%}
          <form action="{% url 'probability-of-3-events-calculator' %}" id="myForm" class="center"onsubmit="return validate()" method="post">
                {% csrf_token %}
                <div class="input-group mb-2 mt-3">
                      <div class="input-group-prepend">
                    <div class="input-group-text"><strong>P(A):</strong></div>
                         <input type="text" id="inlineFormInputGroup"  name="a" value="{{a}}" oninput="validateNumber1(this);" size="250" placeholder="Enter the Number " class="form-control" required></div>
                </div>
                 <div class="input-group mb-2 mt-3">
                      <div class="input-group-prepend">
                    <div class="input-group-text"><strong>P(B):</strong></div>
                         <input type="text" id="inlineFormInputGroup"  name="b" value="{{b}}" oninput="validateNumber1(this);" size="250" placeholder="Enter the Number" class="form-control" required></div>
                </div>
                <div class="input-group mb-2 mt-3">
                    <div class="input-group-prepend">
                  <div class="input-group-text"><strong>P(C):</strong></div>
                       <input type="text" id="inlineFormInputGroup"  name="c" value="{{c}}" oninput="validateNumber1(this);" size="250" placeholder="Enter the Number" class="form-control" required></div>
              </div>
                    <div class=" center col mt-2 ">
                    <center><button type="submit" class="btn btn-primary"  class="form-control" >Calculate</button>
                    <button type="button" onclick="this.form.reset()" style="margin-top:5px;" class="btn btn-danger" class="form-control">Reset</button>
                    </center>
                </div>
                 <div class="input-group mb-2 mt-3">
                      <div class="input-group-prepend">
                    <div class="input-group-text"><strong>Probability of all three occuring:</strong></div>
                         <input type="text" id="inlineFormInputGroup"  disabled value="{{ d }}" oninput="validateNumber1(this);" size="250"  class="form-control" required></div>
                </div>
              <div class="input-group mb-2 mt-3">
                      <div class="input-group-prepend">
                          <div class="input-group-text"><strong>Probability of at least one occuring:</strong></div>
                         <input type="text" disabled id="inlineFormInputGroup" value="{{ e }}" oninput="validateNumber(this);" class="form-control" required></div>
                     </div>
                <div class="input-group mb-2 mt-3">
                      <div class="input-group-prepend">
                          <div class="input-group-text"><strong>Probability of exactly one occuring:</strong></div>
                         <input type="text" disabled id="inlineFormInputGroup" value="{{ f }}" oninput="validateNumber(this);" class="form-control" required></div>
                     </div>
            <div class="input-group mb-2 mt-3">
                      <div class="input-group-prepend">
                          <div class="input-group-text"><strong>Probability of none occuring:</strong></div>
                         <input type="text" disabled id="inlineFormInputGroup" value="{{ g }}" oninput="validateNumber(this);" class="form-control" required></div>
                     </div>
            
        
            </form>
            
            </div>
        </div>


        
        {% if answer %}
        <div class="card" id="probability-3-events">
            <div class="card-header"><center class="h1">Detailed Answer</center></div>
            <div class="card-body container">
            {% autoescape off %}
            {% for i,z in answer.items %}
            {% if 'bold' in i %}
            <p><b>{{ z }}</b></p>
            {% else %}
            <p>{{ z }}</p>
            {% endif %}
            {% endfor %}
            {% endautoescape %}
            </div>
        </div>
        {% endif %}
        
        
        
        <script>
        var validNumber = new RegExp(/^\d*\.?\d*$/);
        var fist_input = document.getElementById("inlineFormInputGroup").value;
        function validateNumber(elem) {
          if (validNumber.test(elem.value)) {
            fist_input = elem.value;
          } else {
            elem.value = fist_input;
          }
        }
        </script>
    <div class="card">
	    <div class="card-header">
            <h2 class="h2">Probability of Three Events Calculator</h2>
        </div>
	    <div class="card-body">
            <p>You can use our Probability of 3 Events to determine any of the following. They are outlined for your reference as such</p>
<ul><li>Probability of at least one event out of three occurring (union of three events i.e. P(A ∪ B ∪ C))</li>
    <li>Probability of the intersection of three events (all three happening i.e. P(A ∩ B ∩ C)</li>
    <li>Probability of exactly one event happening(P(A ∩ B' ∩ C') + P(A' ∩ B ∩ C') + P(A' ∩ B' ∩ C))</li>
    <li>Probability of none of them occurring(P(∅)).</li></ul>
        </div>
</div>

<div class="card">
    <div class="card-header">
        <h3 class="h3">Probability Rules</h3>
    </div>
    <div class="card-body">
<p>Have a glance at the basic rules of probability below and enhance your subject knowledge on the concept so that you may find them useful in your problem solving. The fundamental probability rules are explained below</p>
<ul><li><strong>Addition Rule:</strong> This particular rule applies if event is the outcome of union of two other occurances. For instance, if you have two events say A and B then we can write it as <strong>P(A ∪ B) = P(A) + P(B) – P(A ∩ B)</strong> </li>
    <li><strong>Complementary Rule:</strong> This rule can be applied when one occurence is counterpart of the other. If you have an event A then the rule is as such <strong>P(A') = 1 - P(A)</strong></li>
<li><strong>Conditional Rule:</strong> We will apply this rule when we have partial information about occurence of an event. For Example if an event A is already happened and probability B is sought the rule is as follows <strong>P(B, given A) = P(A and B)P(A)P(B, given A) = P(A and B) / P(A)</strong> </li>
<li><strong>Multiplication Rule:</strong> This rule can be applied anytime an event occurs at intersection of two additional events. <strong>P(A ∩ B) = P(A) × P(B) for independent events.</strong></li>
<li>Probability ranges between 0 and 1.</li></ul>
<p>Understand the difficult concepts too easily taking the help of the online tools available at <a href="https://probabilitycalculator.guru/">Probabilitycalculator.guru</a> and clarify your doubts during homework or assignments.</p>
</div>
</div>


    <div class="card">
	    <div class="card-header">
            <h3 class="h3">How to find Probability of 3 Independent Events? | Probability of 3 Events Formula</h3>
        </div>
	    <div class="card-body">
            <p>Follow the step by step process mentioned below to determine the probabilities of three events manually by hand.</p>
    <ul><li>Multiplication Rule: In order to determine the probability of intersection of three independent events then simply multiply the probabilities of all 3 events together i.e. P(A ∩ B ∩ C) = P(A) * P(B) * P(C) </li>
    <li>Addition Rule: To obtain the probability of atleast one event occuring out of three then sum the probabilities of three events and then subtract their intersections i.e. P(A ∪ B ∪ C) = P(A) + P(B) + P(C) - P(A ∩ B) - P(A ∩ C) - P(B ∩ C) + P(A ∩ B ∩ C)
        On Applying the multiplication rule formula we can get the probability of union of three events in terms of P(A), P(B), P(C) i.e. P(A ∪ B ∪ C) = P(A) + P(B) + P(C) - P(A) * P(B) - P(A) * P(C) - P(B) * P(C) + P(A) * P(B) * P(C)
    </li></ul>
    <p><strong>To find the Probability of Exactly one Event Happening</strong></p>
    <ul><li>We will find the sum of probabilities of three scenarios i.e. A happens, B and C don't;
        B happens, A and C don't; and
        C happens, A and B don't i.e. P(A ∩ B' ∩ C') + P(A' ∩ B ∩ C') + P(A' ∩ B' ∩ C)</li>
    <li>By applying the multiplication rule we have the equation above as P(A ∩ B' ∩ C') + P(A' ∩ B ∩ C') + P(A' ∩ B' ∩ C) = P(A) * P(B') * P(C') + P(A') * P(B) * P(C') + P(A') * P(B') * P(C')</li>
<li>We shall use the complement rule and obtain the formula which need P(A), P(B), and P(C): P(A) * P(B') * P(C') + P(A') * P(B) * P(C') + P(A') * P(B') * P(C) = P(A) * (1 - P(B)) * (1 - P(C)) + (1 - P(A)) * P(B) * (1 - P(C)) + (1 - P(A)) * (1 - P(B)) * P(C)</li></ul>
<p>To calculate the chance that <strong>neither of the three events occur</strong> we wil apply the complement rule for opposite event, in which we have atleast one event happens P(∅) = 1 - (P(A) + P(B) + P(C) - P(A) * P(B) - P(A) * P(C) - P(B) * P(C) + P(A) * P(B) * P(C))</p>    
    <img src="{% static 'images/Discrete_Mathematics/Probability-of-3-Events-Calculator.jpeg' %}" alt="Probability of 3 Events Calculator">
</div>
    </div>
    <div class="card">
        <div class="card-header">
    <h3 class="h3">FAQs on Probability Calculator 3 Events</h3>
  	    </div>
  	    <div class="card-body">
      	<!-- Question & Answer Starts --->
        <p class="question"><strong>1. What is the range of Probability?</strong></p>
     	<p class="answer">Probability ranges between 0 and 1.</p><hr>
     	<p class="question"><strong>2. How do you Calculate the Probability of 3 Events using a Calculator?</strong></p>
     	<p class="answer">Simply enter the Probabilities of all 3 Events in the allotted boxes and click on the calculate button to avail the Probability in a matter of seconds.</p><hr>  
        <p class="question"><strong>3. What is the Formula for Probability of Union of Three Events?</strong></p>
        <p class="answer">The Formula for Probability of Union of Three Events is P(A ∪ B ∪ C) = P(A) + P(B) + P(C) - P(A ∩ B) - P(A ∩ C) - P(B ∩ C) + P(A ∩ B ∩ C).</p><hr>
        <p class="question"><strong>4. Where do I get Probability of Three Events Calculator for free?</strong></p>
     	<p class="answer">You can get Probability of Three Events Calculator for free on <a href = https://probabilitycalculator.guru/>probabilitycalculator.guru</a> a trusted and reliable portal.</p>
    	</div>
    </div>
    </div>
    <script>
        function myFunction() {
          document.getElementById("input1").value="";
          document.getElementById("detail").innerHTML="";
          
        }
        </script>
        <script>
          document.addEventListener('DOMContentLoaded', function () {
            document.getElementById('ddd').click();
            });
        </script>
{% if  answer %}
<script>
    $(document).ready(function () {
        $("#hassle").click();
    });
</script>
<button type="button" hidden id="hassle" onclick="location.href='#probability-3-events'">ans1</button>
{% endif %}
{%endblock%}
