{%extends 'base/base.html'%}
{%load static%}
  {%block meta%}
    <!-- HTML Defaults Broweser -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Bootstrap Stylesheet and Jquery, Google APIS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
    <!-- Online Calculator Guru Site Fevicon -->
    <link rel="shortcut icon" href="https://onlinecalculator.guru/static/images/logo/Online-Calculator-Guru-Fevicon.png" type="icon">
    <!-- Online Calculator Guru Project Style Sheet -->
    {%block css%}
    <link rel="stylesheet" href="/static/style.css">
    {%endblock%}
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <!-- Meta Title, Description and Canonical URL Starts --->
    <title>Variance Calculator Probability | How to Calculate Variance of Probability Distribution?</title>
    <meta name="description" content="Get the free online & user-friendly Variance Calculator Probability from probabilitycalculator.guru and efficiently solve the variance and standard deviation of a probability distribution. "/>
    <link rel="canonical" href="{{request.build_absolute_uri}}">
    <!-- Meta Title, Description and Canonical URL ENDS --->

    <!-- OPEN GRAPH CONFIGURATIONS STARTS -->
	<!--  FACEBOOK CONFIGURATION STARTS  -->
        <meta content="https://www.facebook.com/OnlineCalculator-Guru-131572098650589/" property="og:url" />
        <meta property="og:title" content="Variance Calculator Probability | How to Calculate Variance of Probability Distribution?"/>
        <meta property="og:description" content="Get the free online & user-friendly Variance Calculator Probability from probabilitycalculator.guru and efficiently solve the variance and standard deviation of a probability distribution. "/>
        <meta content="" property="og:site_name" />
        <meta  content="https://onlinecalculator.guru/static/images/Discrete_Mathematics/Variance-Calculator-Probability.jpeg" property="og:image" />
        <meta property="og:image:type" content="image/png" />
        <meta property="og:image:height" content="435" />
        <meta property="og:image:width" content="354" />
        <!--  FACEBOOK CONFIGURATION ENDS  -->
        <!-- TWITTER CARD CONFIGURATION STARTS  -->
        <meta name="twitter:card" content="summary"/>
        <meta name="twitter:site" content="https://twitter.com/onlinecalculator"/>
        <meta name="twitter:title" content="Variance Calculator Probability | How to Calculate Variance of Probability Distribution?"/>
        <meta name="twitter:description" content="Get the free online & user-friendly Variance Calculator Probability from probabilitycalculator.guru and efficiently solve the variance and standard deviation of a probability distribution. "/>
        <meta name="twitter:image:src" content="https://onlinecalculator.guru/static/images/Discrete_Mathematics/Variance-Calculator-Probability.jpeg"/>
        <meta property="twitter:image:height" content="435"/>
        <meta property="twitter:image:width" content="354"/>
        <!-- TWITTER CARD CONFIGURATION ENDS  -->
        <!--  LINKEDIN CONFIGURATION STARTS-->
        <meta property='og:title' content="Variance Calculator Probability | How to Calculate Variance of Probability Distribution?"/>
        <meta property='og:image' content="https://onlinecalculator.guru/static/images/Discrete_Mathematics/Variance-Calculator-Probability.jpeg"/>
        <meta property='og:description' content="Get the free online & user-friendly Variance Calculator Probability from probabilitycalculator.guru and efficiently solve the variance and standard deviation of a probability distribution. "/>
        <meta property='og:url' content="https://www.linkedin.com/in/onlinecalculator/" />
        <!-- end of linkedin CONFIGURATIONS ENDS -->
    <!-- OPEN GRAPH CONFIGURATION ENDS -->
    <!-- FAQ SCHEMA STARTS -->
    <script type="application/ld+json">{"@context": "https://schema.org","@type": "FAQPage","mainEntity": [{"@type": "Question","name":"1.
        How do you find the variance of joint probability?
        ","acceptedAnswer": {"@type": "Answer","text":"https://www.youtube.com/watch?v=ugUk5YHt2SY"}	}, {"@type": "Question","name":"2.
        What is the formula for the variance and standard deviation of a discrete probability distribution?
        ","acceptedAnswer": {"@type": "Answer","text":"The formula for the variance of a discrete probability distribution is &sigma;x^2 = Var (X) = &sum;i (xi &minus; &mu;)^2 p(xi) = E(X &minus; &mu;)^2 and standard deviation (&sigma;x) of a discrete probability distribution is Square root of Var(X)."} }, {"@type": "Question","name":"3.
        What is the mean and variance formula in probability?
        ","acceptedAnswer": {"@type": "Answer","text":"The mean formula in probability is &mu; = n *p and the variance of the probability distribution formula is Var(X) = E(X^2) &minus; [E(X)]^2."} }, {"@type": "Question","name":"4.
        Where can I discover the free online & handy variance & standard deviation probability calculator?
        ","acceptedAnswer": {"@type": "Answer","text":"You can discover the handy &amp; free online variance calculator probability on probabilitycalculator.guru a reliable &amp; trustworthy web portal that provides concept-wise probability calculators."} }]}
    </script>
    {%endblock%}
    {%block content%}
    <div class="container">
        <div class="card c1">
            <div class="card-header">
                <h1 class="h1">Variance Calculator Probability</h1>
            </div>
            <div class="card-body">
                <p>Variance Calculator Probability helps to determine the variance of random variable x of discrete probability distribution &amp; probability density function(PDF). Just enter the required input values in the given fields then click on the calculate button to get the output with detailed steps in no time.</p>                <p>Related Calculators:</p>                
                <ul>
<li>Normal Distribution Probability Calculator</li>
<li>Dice Probability Calculator</li>
</ul>
<p><strong>Variance Calculator Probability:</strong> Finding the mean and variance of the probability distribution is very crucial for solving problems in probability theory. If you are facing difficulties to calculate the variance of the discrete and absolutely continuous probability distribution then make use of this handy online tool ie., variance calculator probability. This free online variance of random variable calculator easily computes the variance and standard deviation of the random variable at a faster pace.</p>
<p>For more information like define variance, variance probability distribution formulas, steps to find the probability variance &amp; SD with solved examples, take a look at this Variance Calculator Probability guide.</p>
<form method="POST">{% csrf_token %}
    <div class="row mx-auto my-auto">
        <div class="cell">
            <label for="input1">Enter the sample data: </label>
        </div>
      </div>
    <div class="row mx-auto my-auto">
        <div class="cell">
            {%if input1%}
                <input name="input1" type="text" required width="48"  value="{{input1}}">
            {%else%}
                <input name="input1" type="text" required width="48"  value="18,23,56,34,23">
            {%endif%}
        </div>
    </div>
    <div class="center col mt-2">
        <center><button type="submit" class="btn btn-primary" name="f1">Calculate</button>
            <button type="button" onclick="myFunction()" style="margin-top:5px;" class="btn btn-danger" class="form-control">Reset</button>
        </center>
      </div>

     
</form>
            </div>

       
        {% if  flag %}
        <script>
                $(document).ready(function () {
                    $("#hassle").click();
                });
        </script>
        <button type="button" hidden id="hassle" onclick="location.href='#variance'">ans1</button>
        {% endif %}
{%if detailStep%}
<div id="clear">
<div class="card">
    <div class="card-header">
        <h1 class="h1">Variance Calculator Probability</h1>
    </div>
    <div class="card-body">
                      
                      <p><strong>Answer:</strong></p>
                      
                      {% autoescape off %}
                      {{detailStep}}
                      {%endautoescape%}
                    
                      </div>
                      <hr>
                  {%endif%}
                      </div>
                  {% autoescape off %}
                      {% if messages %}
                          {% for message in messages %}
                              <div class="row">
                                  <div class="col-md-6">
                                      <p class="alert alert-danger">{{message}}</p>
                                  </div>
                              </div>
                          {% endfor %}
                      {% endif %}
                  {%endautoescape%}
                </div>               
        
    <div class="card">
	    <div class="card-header">
            <h2 class="h2">What is Variance in Probability?</h2>
        </div>
	    <div class="card-body">
            <p>In probability theory, the expectation of the squared deviation of a random variable from its population means or sample mean is called variance. Also, the second central moment of a distribution, the square of SD, and the covariance of the random variable with itself are known as Variance in probability. It is denoted by &sigma;&sup2;, s&sup2;, Var(X), or V(X).</p>
<h3>Variance Probability Formulas</h3>
<p>The variance of a random variable X is defined by</p>
<p style="text-align: center;"><strong>var(X) = E [ (X&minus;&mu;)&sup2; ], where &mu; = E(X).</strong></p>
<p>For a discrete random variable X, the variance of X is acquired as follows:</p>
<p style="text-align: center;"><strong>var(X) = &sum;(x&minus;&mu;)&sup2; pX(x)</strong></p>
<p>For, Absolutely continuous random variable, the variance formula of the probability density function is defined as</p>
<p style="text-align: center;"><img src="https://drive.google.com/file/d/1qS0h2_NwjskyRgUSAMn6Wa1itgMrcw7F/view?usp=sharing" alt="Variance Probability Density Function Formula"></p>
<p>For a population, the variance is computed as</p>
<p style="text-align: center;"><strong>&sigma;&sup2; = ( &Sigma; (x-&mu;)&sup2; ) / N or &sigma;&sup2; = ( (&Sigma; x&sup2;) / N ) - &mu;&sup2;.</strong></p>
<p>The variance of joint probability formula for the random variables X and Y are given as</p>
<p style="text-align: center;"><strong>Var(X) = &sum; x^2 PX(x)&minus;(E(X))^2</strong><br /><strong>Var(Y) = &sum; y^2 PY(y)&minus;(E(Y))^2</strong></p>
        </div>
    </div>
    <div class="card">
	    <div class="card-header">
            <h2 class="h3">How do you find Probability with variance?</h3>
        </div>
	    <div class="card-body">
        <p>In order to calculate the variance of a discrete probability distribution, all you need to do is follow the below simple steps and find the results manually with ease.</p>
<ul>
<li>Firstly, calculate each deviation from its mean or expected value.</li>
<li>Now, square each value obtained in the first step.</li>
<li>Next, product it by its probability and finally sum up the products.</li>
<li>Thus, you can get the desired variance probability output.</li>
<li>If you want to find the standard deviation(&sigma;) of a probability distribution, simply calculate the square root of the variance(&sigma;&sup2;).</li>
</ul>
<p><strong>Example:</strong></p>
<p>Consider the rolling of a fair six-sided die, with X the number on the uppermost face. We know that the px of X is 16, x=1,2,3,4,5,6, and that mean is 3.5. What is the variance of random variable X?</p>
<p><strong>Solution:</strong></p>
<p>Given x=1,2,3,4,5,6,</p>
<p>px(X) = 16, &mu;X = 3.5</p>
<p>To find the variance of random vaiable (X) of discrete probability function, use the formula of var(X) i.e.,</p>
<p>var(X) = E [(X&minus;&mu;X)^2] <br />= &sum;(x&minus;&mu;X)^2*pX(x)<br />= &sum;(x&minus;&mu;X)^2*1/6<br />= 1/6((1&minus;3.5)^2+(2&minus;3.5)^2+(3&minus;3.5)^2+(4&minus;3.5)^2+(5&minus;3.5)^2+(6&minus;3.5)^2)<br />= 1/6&times;17.5<br />= 35/12 &asymp; 2.9167.</p>
<p>Therefore, the variance of probability distribution of X is approx 2.9167.</p>
<p>The standard deviation probability distribution of X is &sigma;X = &radic;35/12 &asymp; 1.7078.</p>                    
<img src="{% static 'images/Discrete_Mathematics/Variance-Calculator-Probability.jpeg' %}" alt="Variance Calculator Probability">
</div>
    

    <div class="card">
        <div class="card-header">
    <h3 class="h3">FAQs on Free Online Variance Calculator Probability with Steps</h3>
  	    </div>
  	    <div class="card-body">
      	<!-- Question & Answer Starts --->
        <p class="question"><strong>1. How do you find the variance of joint probability?</strong></p>
     	<p class="answer">https://www.youtube.com/watch?v=ugUk5YHt2SY</p><hr>
     	<p class="question"><strong>2. What is the formula for the variance and standard deviation of a discrete probability distribution?</strong></p>
     	<p class="answer">The formula for the variance of a discrete probability distribution is &sigma;x^2 = Var (X) = &sum;i (xi &minus; &mu;)^2 p(xi) = E(X &minus; &mu;)^2 and standard deviation (&sigma;x) of a discrete probability distribution is Square root of Var(X).</p><hr>
        <p class="question"><strong>3. What is the mean and variance formula in probability?</strong></p>
        <p class="answer">The mean formula in probability is &mu; = n *p and the variance of the probability distribution formula is Var(X) = E(X^2) &minus; [E(X)]^2.</p><hr>
        <p class="question"><strong>4. Where can I discover the free online & handy variance & standard deviation probability calculator?</strong></p>
        <p class="answer">You can discover the handy &amp; free online variance calculator probability on <a href="https://probabilitycalculator.guru/">probabilitycalculator.guru</a> a reliable &amp; trustworthy web portal that provides concept-wise probability calculators.</p><hr>
    </div>
    </div>
    </div>
<script>
    function myFunction()
    {
        document.getElementById("clear").innerHTML="";
    }
</script>

{%endblock%}
